/* common */

/* colori */
:root {
    --azzurro: #b4d0e7;
    --blue: #0061ff;
    --black: black;
    --white: white;
    --dark-red: #61082b; /* text and asu logo */
    --green: #a2d39b;
    --lightgreen: #d1e9cd;
    --red: #d5001f;
    --strong-blue: #0093ce;
    --orange: #ff1c1c;
    --yellow: #ffd830;
    --very-lightgray: #f5f5f5;
}
/* utility*/
.bold {
    font-weight: 700;
}
.debug{
    border: 1px solid black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--white);
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: var(--black);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.container-small {
    max-width: 1000px;
    margin: 150px auto;
}
/* classe flex principale  */
.flex{
    display: flex; 
}
.w-30 {
    width: 30%;
    
}
.w-70 {
    width: 70%;
}

/* header  */
header {
    background-color: var(--azzurro);
}

/* nav bar  */
header nav {
    background-color: var(--white);
    position: fixed;
    left: 0;
    top: 0;
    margin: 0 auto;
    z-index: 1000;
    width: 100%;
    height: 80px;
}
div.flex.nav {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.left img{
    margin-left: 10px;
    align-self: center;
}
nav li {
    list-style: none;
    padding: 10px;
}
.bottoni {
    padding: 10px;
    background-color: var(--blue);
    color: var(--white);
}
/* hero container */

#hero{
    padding-top: 80px;
}
#hero .container {
    position: relative; 
    bottom: -80px;
}
#hero img{
    width: 100%;
}
#hero a {
    display: inline-block;
    padding: 15px;
    margin-bottom: 20px;
}
#hero p{
    line-height: 1.5em;
    padding-bottom: 20px;
}
#hero i {
    display: block;
    font-size: 46px;
    font-weight: 700;
    padding-top: 50px;
}
h1 {
    font-size: 76px;
    padding-bottom: 50px;
}

/* main content  */

/* prima section  */
h2 {
    font-size: 48px;
}
.billing {
    padding: 20px;
    margin: 50px 0;
}
.billing span {
    margin-right: 50px;
}
.card {
    height: 200px;
    width: calc((100% - 100px) / 3);
}
.margin {
    margin: 0 50px;
}

/* stile card */
.mode {
    text-align: center;
    border-bottom: 1px solid grey;
    padding: 10px;
}



/* footer */
footer {
    background-color: var(--black);
    color: var(--white);
}


